<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/user">
              <i class="fas fa-user"></i> User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()" href="#">
              <i class="fas fa-sign-out-alt"></i> Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Resto del código de la vista -->

    <!-- Sección para mostrar los datos actualizados -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8">
            <h2 class="text-center">Lista de Usuarios</h2>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Carrera</th>
                <th>Universidad</th>
                <!-- Agrega más columnas con los datos que desees mostrar -->
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.career }}</td>
                <td>{{ user.college }}</td>
                <!-- Muestra más datos del usuario aquí -->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Mostrar un mensaje de carga mientras los datos están siendo obtenidos -->
      <div *ngIf="!isDataLoaded">
        Cargando...
      </div>
    </main>

    <!-- Fin de la sección de datos actualizados -->

    <!-- Resto del código de la vista -->

    <!-- Main content -->



  </div>
</div>
